state_machine/process_scanned_invoice_workflow.asl.json
{
  "StartAt": "Did Analyze Document Job Complete Successfully?",
  "States": {
    "Did Analyze Document Job Complete Successfully?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "Save Document Analysis"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Analyze Document Job Failed"
        }
      ],
      "Default": "Analyze Document Job Failed"
    },
    "Analyze Document Job Failed": {
      "Type": "Fail",
      "Cause": "Textract Job Failed",
      "Error": "Analyze Document Job returned FAILED"
    },
    "Save Document Analysis": {
      "Type": "Task",
      "Resource": "${SaveDocumentAnalysisLambdaArn}",
      "InputPath": "$",
      "Next": "Process Document Analysis",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Process Document Analysis": {
      "Type": "Task",
      "Resource": "${ProcessDocumentAnalysisLambdaArn}",
      "InputPath": "$",
      "Next": "Soda Check",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Soda Check": {
      "Type": "Task",
      "Resource": "${SodaCheckLambdaArn}",
      "InputPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Archive Document"
    },
    "Archive Document": {
      "Type": "Task",
      "Resource": "${ArchiveDocumentLambdaArn}",
      "InputPath": "$",
      "Next": "Document Processed",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Document Processed": {
      "Type": "Succeed"
    }
  }
}